body {
  background-image: url("background.png");
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
*hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}

nav ul li a:hover{
    color:rgb(215, 60, 60)
}

.detel{
    font-size: 25px;
    color:black;
    margin-bottom: 20px;
}

span{
    color:coral;
}

.detel p{
    color:rgb(54, 10, 10);
    line-height: 35px;
}

.detel a{
    background:rgb(173, 27, 27);
    padding: 5px 8px;
    text-decoration: none;
    font-weight: bold;
    color:#fffff5;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.imagess img{
    height: 100%;
    position: absolute;
    left: 40%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}